@import '../theme/colors.scss';

#Account{
  section{
    display: flex;
    margin: 2em auto;
    justify-content: center;
    -webkit-flex-wrap: wrap; 
    flex-wrap:         wrap; 
    
    
    form{
      max-width: 20em;
      //min-width: 20em;
      margin: 1em 1em;
      padding: 1em 2em 2em 2em;
      background: $color_blue_medium2;

      input{
        // disable yellow input background when autocompletion
        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 1000px $color_blue_medium2 inset;
            -webkit-text-fill-color: $color_grey_light !important;
        }
      }


      &#Login{
      }
      &#Logout{
        padding: 2em;
      }
      &#CreateAccount{}
      &#ChangePassword{
        max-width: 30em !important;
      }

    }
  }
}