@import '../theme/colors.scss';



// in ResetForgotPassword & in PageAccount
.account-box{
  position: relative;
  width:      100%;
  max-width:  20em;
  //min-width: 20em;
  padding: 1.3em 2em 2em 2em;
  margin: 1em 1em;
  background: $color_blue_medium_transparent;

  input{
    // disable yellow input background when autocompletion
    &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px $color_blue_dark inset;
        -webkit-text-fill-color: $color_grey_light !important;
    }
  }

  .inputFloatingLabel{
    *{
      font-size: 14px !important;  
    }
  }
  
  .button-mui{}
  .btn-cancel{
    *{
      font-size:12px !important; // overide mui default/custom js styles
    }
  }
  .btn-action{
    *{
      font-size:12px !important; // overide mui default/custom js styles
    }
  }

}

      
// RollOver animation
#Login, #ForgotPassword, #ChangePassword, #CreateAccount, #ResetForgotPassword{
  width: 100%;
  .roll{
    height:     auto;
    overflow:   hidden;
    transition: all 0.6s ease;
    max-height: 0;
    &.is-visible{
      max-height: 400px;
    }
  }
}

#ResetForgotPassword{
  margin: 3em auto 0 auto;
}

#Account{
  margin-top: 1em;
  
  section{
    display:   flex;
    margin:    2em auto;
    justify-content:  center;
    -webkit-flex-wrap: wrap; 
    flex-wrap:         wrap; 
    
    #AccountLogged, #AccountNotLogged{
      
      > .content{}

      &#AccountNotLogged{
        .content{
          #Login{}
          #ForgotPassword{}
          #CreateAccount{}
        }
      }

      &#AccountLogged{
        .content{

        div.flex{
          margin-bottom: 20px;

          p{
            &:firs-of-type{
              margin-top: 10px;
            }
            &#textUsername{
              font-size: 22px;
              color: $color_active;
            }
            &#textEmail{
              font-size: 12px;
              color: $color_grey_medium;
              width: 10em;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            &#textEmailStatut{
              font-size: 10px;
              color: $color_blue_medium1;
            }
          }

          #ChangeAvatar{
            margin-right: 1em;

            .currentAvatar, .avatarPreview{
              transition: all 0.5s;
              display: inline-block;

              img, .avatarDefault{
                width:      60px;
                height:     60px;
                max-width:  60px;
                max-height: 60px;
                min-width:  60px;
                min-height: 60px;
                border-radius: 100%;
              }

              &.currentAvatar{
                position: relative;
                //left:     28px;
                left:     0;
                opacity:  1;

                width:4.5em;

                &.is-visible{
                  opacity:  0.7;
                  left:     0px;
                }

                // If user didn't set is own avatar
                .avatarDefault{
                }

                #avatarOptions{
                  position: absolute;
                  top:      0;
                  left:     3.8em;
                  transform: scale(0);

                  transition: all 0.5s;
                  opacity:    0;
                  pointer-events: none;


                  #uploadButton{

                  }
                  #deleteButton{

                  }

                }
                &:hover {
                  width:6.25em;
                  #avatarOptions{
                    transform: scale(0.8);
                    opacity: 1;
                    pointer-events: auto;
                  }
                }
              }

              &.avatarPreview{
                position: absolute;
                //left:     28px;
                left:44px;
                transform:  scale(1) translate3d(0, 0, 0);
                opacity:    0;
                pointer-events: none;

                &.is-visible{
                  transform:  scale(1.2) translate3d(-20px, 15px, 0);
                  opacity:    1;
                  pointer-events: auto;
                }

              }

            }
            #buttonUploadAvatar{
              width: 0em; // trick
              height: 0em;
              transition: all 0.4s;
              transform-origin: top;
              transform:  scale(0);
              opacity:    0;
              &.is-visible{
                transform:  scale(1);
                opacity:    1;
                height:     4em;
              }
              *{ font-size: 10px !important; }
            }
          }

        }

        #VerifyEmail, #ChangePassword, #Logout{
            margin-top: 10px;
        }
        #VerifyEmail{}
        #ChangePassword{}
        #Logout{}

        }
      }
      
    }

    
    // Buttons margin
    #Login, #LoginGoogle, #ForgotPassword, #Logout{
      margin-bottom: 10px;
    }

 
  }  
  
}



