/* RESET */
*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;
}
a{
  color: inherit;
  text-decoration: none;
}
li{
  list-style-type: none;
}



$color_grey_light:  #ebebeb;
$color_grey_medium:  #b2b2b2;

$color_blue_medium1:  #466da0;
$color_blue_medium2:  #315481;

/* FACTO */

html, body, #App-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.App, .app-main, #Header, #Footer, nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

#Header, .app-main, .app-content, #Footer, nav {
  width: 100%;
}

.login-button{
  width: 100%;
  color: $color_grey_light;
  padding: 10px;
  margin: 10px 0;
}
a#signup-link{
  width: 100%;
  padding: 10px;
  margin: 0 0 10px 0;
  color: $color_grey_light;
}
#login-buttons{

  // Link + DropDown
  .login-link-and-dropdown-list{
    position: relative;
    text-align: right;
    
    // Link : 'sing in' or username
    .login-link-text{
    }
    
    // DropDown
    #login-dropdown-list.accounts-dialog{
      position:   absolute;
      background: $color_blue_medium2;
      z-index:    1;
      top:        25px;
      right:      0px;
      
      width:      15em;
      padding:    20px;
      text-align: left;
      
      
      // Close text
      a.login-close-text{
        min-width: 100em;
        color: $color_grey_medium;
        position: relative;
        width: 10em;

      }
      div.login-close-text-clear{
        //width: 10em;
        margin-bottom: 1em;
      }
      
      
      div#login-buttons-open-change-password{
      }
      div#login-buttons-logout{
      }

      

      
      
      // Sign in div
      div.login-form.login-password-form,
      div#login-old-password-label-and-input,
      div#login-password-label-and-input,
      div#login-password-again-label-and-input{
        width: 100%;

          input, label{ 
            width: 100%;
          }
          label{
            font-size: 0.9em;
            color: $color_grey_light;
          }
          input{
            background: $color_blue_medium1;
            color:  $color_grey_medium;
            border: 0;
            padding: 5px;
            margin-top: 0.3em;
            margin-bottom: 1em;
          }
          input:-webkit-autofill {
              -webkit-box-shadow: 0 0 0px 1000px #466da0 inset;
              -webkit-text-fill-color: $color_grey_medium !important;
          }
          

      }
      
      
      
      // Sign in div
      div.login-form.login-password-form{
        width: 100%;
        div{
          width: 100%;

          &#login-username-label-and-input{
            label{
            }
            input{
            }
          }
          &#login-password-label-and-input{
          label{

          }
          input{
          }
        }
          &#login-buttons-password{

        }
          &.additional-link-container{
            a#signup-link{
            }
          }
        }
      }


      // Change password div
      div#login-old-password-label-and-input{
          label{

          }
          input{

          }
      }
      div#login-password-label-and-input{
          label{

          }
          input{

          }
      }
      div#login-password-again-label-and-input{
        label{
          
        }
        input{
          
        }
    }
    }
  }
}



/* GENERAL */

body{
  font-family:      sans-serif;
  font-size:      14px;
  background: $color_blue_medium2;
}


/* UI */
.button-nav{
  color:  $color_grey_light;
  
  transition: all 0.2s;
  &:active{
    background: #223e62;
  }
}


/* APP */

body {

  #App-wrapper{
    .App{
      width:  100%;
      height: 100%;
      flex-direction: column;

      
      #Header, #Footer {
        position:   relative;
      }
      #Header, nav {
        //background: $color_blue_medium2;
      }
      
      #Header {
        padding:    20px;
        
        h1{
          width:      100%;
        }
        #login-buttons{
          min-width:  5em;
        }
      }
      
      #Footer{
        nav{
        }
        a{
          width:      100%;
          padding:    20px;
          text-align: center;
        }
      }

      
      
      .app-main {
        flex: 1;

        .app-content {
          overflow: auto;
          order: 2;
          background-color: #FFFFFF;
        }
      }


      h1 {
        display:        inline-block;
        margin-bottom:  10px;
        margin-right:   1em;
        font-size:      1.2em;
      }

      
      
      .Page{
        padding: 20px;
        
        &.PageHome{
          padding: 0;
          div{
            display: inline-block;
            width:50%;
            height: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            &#i1{
              background-image: url("/medias/animals/autruche.jpg");

            }
            &#i2{
              background-image: url("/medias/animals/raton.jpg");

            }
            &#i3{
              background-image: url("/medias/animals/rhino.jpg");

            }
            &#i4{
              background-image: url("/medias/animals/pig.jpg");

            }
            &#i5{
              background-image: url("/medias/animals/fox.jpg");

            }
            &#i6{
              background-image: url("/medias/animals/wolf.jpg");

            }
            &#i7{
              background-image: url("/medias/animals/koala.jpg");

            }
            &#i8{
              background-image: url("/medias/animals/autruche.jpg");
            }
          }
        }
        &.PageTasks{
          // background: #679067;
        }
        &.PageAdmin{
          // background: #5e0080;
        }
        
      }
      
      
      
      

    }
  }
}




/* ANIMATIONS */


.app-content {
  position: relative;
}
.Page{
  position: absolute;
  top:0px;
  bottom: 0;
  width: 100%;
  background: white;
}

.page-enter {
  opacity: 0.01;
}

.page-enter.page-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.page-leave {
  opacity: 1;
}

.page-leave.page-leave-active {
  opacity: 0.01;
  transition: opacity 150ms ease-in;
}
