/* RESET */
/* line 2, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 7, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
a {
  color: inherit;
  text-decoration: none; }

/* line 11, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
li {
  list-style-type: none; }

/* FACTO */
/* line 25, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
html, body, #App-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden; }

/* line 31, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
.App, .app-main, #Header, #Footer, nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

/* line 39, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
#Header, .app-main, .app-content, #Footer, nav {
  width: 100%; }

/* line 43, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
.login-button {
  width: 100%;
  color: #ebebeb;
  padding: 10px;
  margin: 10px 0; }

/* line 49, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
a#signup-link {
  width: 100%;
  padding: 10px;
  margin: 0 0 10px 0;
  color: #ebebeb; }

/* line 58, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
#login-buttons .login-link-and-dropdown-list {
  position: relative;
  text-align: right; }
  /* line 67, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
  #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog {
    position: absolute;
    background: #315481;
    z-index: 1;
    top: 25px;
    right: 0px;
    width: 15em;
    padding: 20px;
    text-align: left; }
    /* line 80, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
    #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog a.login-close-text {
      min-width: 100em;
      color: #b2b2b2;
      position: relative;
      width: 10em; }
    /* line 87, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
    #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div.login-close-text-clear {
      margin-bottom: 1em; }
    /* line 106, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
    #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div.login-form.login-password-form,
    #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-old-password-label-and-input,
    #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-password-label-and-input,
    #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-password-again-label-and-input {
      width: 100%; }
      /* line 109, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
      #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div.login-form.login-password-form input,
      #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div.login-form.login-password-form label,
      #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-old-password-label-and-input input,
      #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-old-password-label-and-input label,
      #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-password-label-and-input input,
      #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-password-label-and-input label,
      #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-password-again-label-and-input input, #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-password-again-label-and-input label {
        width: 100%; }
      /* line 112, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
      #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div.login-form.login-password-form label,
      #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-old-password-label-and-input label,
      #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-password-label-and-input label,
      #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-password-again-label-and-input label {
        font-size: 0.9em;
        color: #ebebeb; }
      /* line 116, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
      #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div.login-form.login-password-form input,
      #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-old-password-label-and-input input,
      #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-password-label-and-input input,
      #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-password-again-label-and-input input {
        background: #466da0;
        color: #b2b2b2;
        border: 0;
        padding: 5px;
        margin-top: 0.3em;
        margin-bottom: 1em; }
      /* line 124, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
      #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div.login-form.login-password-form input:-webkit-autofill,
      #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-old-password-label-and-input input:-webkit-autofill,
      #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-password-label-and-input input:-webkit-autofill,
      #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-password-again-label-and-input input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px #466da0 inset;
        -webkit-text-fill-color: #b2b2b2 !important; }
    /* line 135, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
    #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div.login-form.login-password-form {
      width: 100%; }
      /* line 137, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
      #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div.login-form.login-password-form div {
        width: 100%; }

/* GENERAL */
/* line 197, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
body {
  font-family: sans-serif;
  font-size: 14px;
  background: #315481; }

/* UI */
/* line 205, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
.button-nav {
  color: #ebebeb;
  transition: all 0.2s; }
  /* line 209, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
  .button-nav:active {
    background: #223e62; }

/* APP */
/* line 220, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
body #App-wrapper .App {
  width: 100%;
  height: 100%;
  flex-direction: column; }
  /* line 226, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
  body #App-wrapper .App #Header, body #App-wrapper .App #Footer {
    position: relative; }
  /* line 233, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
  body #App-wrapper .App #Header {
    padding: 20px; }
    /* line 236, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
    body #App-wrapper .App #Header h1 {
      width: 100%; }
    /* line 239, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
    body #App-wrapper .App #Header #login-buttons {
      min-width: 5em; }
  /* line 247, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
  body #App-wrapper .App #Footer a {
    width: 100%;
    padding: 20px;
    text-align: center; }
  /* line 256, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
  body #App-wrapper .App .app-main {
    flex: 1; }
    /* line 259, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
    body #App-wrapper .App .app-main .app-content {
      overflow: auto;
      order: 2;
      background-color: #FFFFFF; }
  /* line 267, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
  body #App-wrapper .App h1 {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 1em;
    font-size: 1.2em; }
  /* line 276, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
  body #App-wrapper .App .Page {
    padding: 20px; }
    /* line 279, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
    body #App-wrapper .App .Page.PageHome {
      padding: 0; }
      /* line 281, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
      body #App-wrapper .App .Page.PageHome div {
        display: inline-block;
        width: 50%;
        height: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; }
        @media screen and (min-width: 600px) {
          /* line 281, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
          body #App-wrapper .App .Page.PageHome div {
            width: 25%;
            height: 50%; } }
        /* line 294, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
        body #App-wrapper .App .Page.PageHome div#i1 {
          background-image: url("/medias/animals/autruche.jpg"); }
        /* line 298, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
        body #App-wrapper .App .Page.PageHome div#i2 {
          background-image: url("/medias/animals/raton.jpg"); }
        /* line 302, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
        body #App-wrapper .App .Page.PageHome div#i3 {
          background-image: url("/medias/animals/rhino.jpg"); }
        /* line 306, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
        body #App-wrapper .App .Page.PageHome div#i4 {
          background-image: url("/medias/animals/pig.jpg"); }
        /* line 310, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
        body #App-wrapper .App .Page.PageHome div#i5 {
          background-image: url("/medias/animals/fox.jpg"); }
        /* line 314, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
        body #App-wrapper .App .Page.PageHome div#i6 {
          background-image: url("/medias/animals/wolf.jpg"); }
        /* line 318, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
        body #App-wrapper .App .Page.PageHome div#i7 {
          background-image: url("/medias/animals/koala.jpg"); }
        /* line 322, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
        body #App-wrapper .App .Page.PageHome div#i8 {
          background-image: url("/medias/animals/autruche.jpg"); }

/* ANIMATIONS */
/* line 350, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
.app-content {
  position: relative; }

/* line 353, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
.Page {
  position: absolute;
  top: 0px;
  bottom: 0;
  width: 100%;
  background: white; }

/* line 361, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
.page-enter {
  opacity: 0.01; }

/* line 365, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
.page-enter.page-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in; }

/* line 370, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
.page-leave {
  opacity: 1; }

/* line 374, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/App/App.scss */
.page-leave.page-leave-active {
  opacity: 0.01;
  transition: opacity 150ms ease-in; }

/*# sourceMappingURL=App.css.map */