/*  Colors  */
/* Buttons */
/* line 5, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/ui/ui.scss */
.button-nav {
  color: #ebebeb;
  transition: all 0.2s; }
  /* line 9, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/ui/ui.scss */
  .button-nav:active {
    background: #223e62; }

/* Header SIGN IN */
/* line 20, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/ui/ui.scss */
header .login-button {
  width: 100%;
  color: #ebebeb;
  padding: 10px;
  margin: 10px 0; }

/* line 26, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/ui/ui.scss */
header a#signup-link {
  width: 100%;
  padding: 10px;
  margin: 0 0 10px 0;
  color: #ebebeb; }

/* line 38, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/ui/ui.scss */
header #login-buttons .login-link-and-dropdown-list {
  position: relative;
  text-align: right; }
  /* line 42, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/ui/ui.scss */
  header #login-buttons .login-link-and-dropdown-list .login-link-text {
    color: #f26e63; }
  /* line 48, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/ui/ui.scss */
  header #login-buttons .login-link-and-dropdown-list.login-form-sign-in .login-link-text {
    color: #466da0; }
  /* line 53, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/ui/ui.scss */
  header #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog {
    position: absolute;
    background: #315481;
    z-index: 1;
    top: 25px;
    right: 0px;
    width: 15em;
    padding: 20px;
    text-align: left; }
    /* line 66, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/ui/ui.scss */
    header #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog a.login-close-text {
      min-width: 100em;
      color: #b2b2b2;
      position: relative;
      width: 10em; }
    /* line 73, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/ui/ui.scss */
    header #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div.login-close-text-clear {
      margin-bottom: 1em; }
    /* line 92, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/ui/ui.scss */
    header #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div.login-form.login-password-form,
    header #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-old-password-label-and-input,
    header #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-password-label-and-input,
    header #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-password-again-label-and-input {
      width: 100%; }
      /* line 95, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/ui/ui.scss */
      header #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div.login-form.login-password-form input,
      header #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div.login-form.login-password-form label,
      header #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-old-password-label-and-input input,
      header #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-old-password-label-and-input label,
      header #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-password-label-and-input input,
      header #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-password-label-and-input label,
      header #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-password-again-label-and-input input, header #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-password-again-label-and-input label {
        width: 100%; }
      /* line 98, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/ui/ui.scss */
      header #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div.login-form.login-password-form label,
      header #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-old-password-label-and-input label,
      header #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-password-label-and-input label,
      header #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-password-again-label-and-input label {
        font-size: 0.9em;
        color: #ebebeb; }
      /* line 102, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/ui/ui.scss */
      header #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div.login-form.login-password-form input,
      header #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-old-password-label-and-input input,
      header #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-password-label-and-input input,
      header #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-password-again-label-and-input input {
        background: #466da0;
        color: #b2b2b2;
        border: 0;
        padding: 5px;
        margin-top: 0.3em;
        margin-bottom: 1em; }
      /* line 110, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/ui/ui.scss */
      header #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div.login-form.login-password-form input:-webkit-autofill,
      header #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-old-password-label-and-input input:-webkit-autofill,
      header #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-password-label-and-input input:-webkit-autofill,
      header #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div#login-password-again-label-and-input input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px #466da0 inset;
        -webkit-text-fill-color: #b2b2b2 !important; }
    /* line 121, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/ui/ui.scss */
    header #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div.login-form.login-password-form {
      width: 100%; }
      /* line 123, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/ui/ui.scss */
      header #login-buttons .login-link-and-dropdown-list #login-dropdown-list.accounts-dialog div.login-form.login-password-form div {
        width: 100%; }

/*# sourceMappingURL=ui.css.map */