@import '../../scss/theme/colors.scss';

html body #App-wrapper .App .app-main .app-content .Page{
  
  
  
&.PageAccount{
  padding:    20px 30px;
  //background: $color_blue_medium1;
  > h1{} 
  > p{
    font-size: 8px;
    color:$color_grey_medium;
    width: 15em;
    &:first-of-type{
      margin-top: -10px;
    }
  }
  

}

  
  
}