/*  Colors  */
/* line 6, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/pages/PageTasks.scss */
html body #App-wrapper .App .app-main .app-content .Page .task-li, html body #App-wrapper .App .app-main .app-content .Page .task-new form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  align-items: center; }

/* line 15, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/pages/PageTasks.scss */
html body #App-wrapper .App .app-main .app-content .Page.PageTasks {
  padding: 20px 30px;
  background: #466da0; }
  /* line 19, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/pages/PageTasks.scss */
  html body #App-wrapper .App .app-main .app-content .Page.PageTasks h2 {
    color: #f26e63;
    margin-bottom: 0.5em; }
  /* line 24, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/pages/PageTasks.scss */
  html body #App-wrapper .App .app-main .app-content .Page.PageTasks input {
    color: #ebebeb; }
  /* line 29, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/pages/PageTasks.scss */
  html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-new, html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list {
    margin: 1em auto 2em auto; }
  /* line 34, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/pages/PageTasks.scss */
  html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-new form {
    position: relative; }
    /* line 37, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/pages/PageTasks.scss */
    html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-new form button {
      color: #315481;
      font-size: 1.5em;
      line-height: 1.5em;
      margin-top: -0.2em;
      padding: 0em 0.7em; }
    /* line 46, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/pages/PageTasks.scss */
    html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-new form input {
      width: 100%;
      padding-right: 80px;
      font-size: 1em;
      color: #315481; }
  /* line 60, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/pages/PageTasks.scss */
  html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .hide-completed {
    position: relative; }
    /* line 63, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/pages/PageTasks.scss */
    html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .hide-completed input {
      margin-right: 0.5em; }
  /* line 68, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/pages/PageTasks.scss */
  html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul {
    margin: 0.5em auto;
    padding: 0; }
    /* line 73, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/pages/PageTasks.scss */
    html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul .task-li {
      position: relative;
      list-style: none;
      padding: 1.25em 0;
      border-bottom: #b2b2b2 solid 1px;
      color: #ebebeb; }
      /* line 80, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/pages/PageTasks.scss */
      html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul .task-li span {
        width: 100%; }
      /* line 84, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/pages/PageTasks.scss */
      html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul .task-li .text {
        display: block;
        width: 100%;
        margin-left: 1em;
        cursor: pointer; }
      /* line 92, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/pages/PageTasks.scss */
      html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul .task-li button.toggle-private {
        padding: 0.2em 0;
        min-width: 5em;
        cursor: pointer;
        transition: all 0.25s;
        color: #315481; }
      /* line 101, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/pages/PageTasks.scss */
      html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul .task-li .delete {
        margin-right: 0.5em;
        margin-left: 1em;
        min-width: 2em;
        font-size: 1em;
        font-weight: bold;
        color: #315481; }
      /* line 111, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/pages/PageTasks.scss */
      html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul .task-li input {
        padding: 20px;
        height: 1em;
        min-width: 3em; }
      /* line 118, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/pages/PageTasks.scss */
      html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul .task-li.task-checked, html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul .task-li.task-private {
        color: #ebebeb;
        background: #466da0;
        transition: all 0.25s; }
      /* line 124, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/pages/PageTasks.scss */
      html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul .task-li.task-checked {
        color: #315481; }
        /* line 127, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/pages/PageTasks.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul .task-li.task-checked .text {
          text-decoration: line-through; }
      /* line 133, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/pages/PageTasks.scss */
      html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul .task-li.task-private button.toggle-private {
        color: #f26e63; }
      /* line 139, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/pages/PageTasks.scss */
      html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul .task-li .edit-task {
        width: 100%;
        text-align: center;
        padding: 0em 0.5em 0 1em;
        margin-top: -0.85em; }
        /* line 144, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/pages/PageTasks.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul .task-li .edit-task input {
          width: 100%;
          margin-top: 0em;
          margin-bottom: 0em;
          font-size: 1em;
          text-align: center; }
        /* line 151, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/pages/PageTasks.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul .task-li .edit-task button {
          background: #315481;
          color: #466da0;
          padding: 0.3em 0.9em;
          margin-right: 0.3em;
          margin-top: 0.5em; }
          /* line 157, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/pages/PageTasks.scss */
          html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul .task-li .edit-task button[type="submit"] {
            background: #f26e63;
            color: #315481; }

/*# sourceMappingURL=PageTasks.css.map */