/*  Colors  */
/* Factorized */
/* line 7, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/App.scss */
html, body, #App-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden; }

/* line 13, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/App.scss */
.App, .app-main, #Header, #Footer, nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

/* line 21, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/App.scss */
#Header, .app-main, .app-content, #Footer, nav {
  width: 100%; }

/* line 25, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/App.scss */
.flex-row {
  display: flex; }

/* line 28, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/App.scss */
.align-center {
  text-align: center; }

/* line 31, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/App.scss */
.align-right {
  text-align: right; }

/* line 34, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/App.scss */
.flex {
  display: flex; }

/* line 38, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/App.scss */
.avatar {
  background: #315481;
  border-radius: 100%; }

/* line 42, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/App.scss */
.avatarDefault, .avatarDisconnected {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em; }

/* line 49, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/App.scss */
.avatarDefault {
  background: #ebebeb;
  color: #f26e63; }

/* line 53, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/App.scss */
.avatarDisconnected {
  background: #315481;
  color: #f26e63; }

/* APP */
/* line 66, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/App.scss */
body #App-wrapper .App {
  width: 100%;
  height: 100%;
  flex-direction: column; }
  /* line 72, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/App.scss */
  body #App-wrapper .App #Header, body #App-wrapper .App #Footer {
    position: relative; }
  /* line 76, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/App.scss */
  body #App-wrapper .App #Header, body #App-wrapper .App nav {
    background: rgba(19, 29, 42, 0.91); }
  /* line 81, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/App.scss */
  body #App-wrapper .App #Header {
    padding: 0.8em 1.5em;
    align-items: center; }
    /* line 86, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/App.scss */
    body #App-wrapper .App #Header h1 {
      width: 100%;
      font-size: 1em;
      margin-top: 8px;
      color: #466da0; }
    /* line 92, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/App.scss */
    body #App-wrapper .App #Header a {
      background: none;
      transition: all 0.25s ease-out;
      transform: scale(1); }
      /* line 96, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/App.scss */
      body #App-wrapper .App #Header a:active {
        transform: scale(1.1); }
      /* line 99, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/App.scss */
      body #App-wrapper .App #Header a .avatar {
        font-size: 12px;
        width: 3em;
        height: 3em;
        max-width: 3em;
        max-height: 3em;
        min-width: 3em;
        min-height: 3em; }
  /* line 115, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/App.scss */
  body #App-wrapper .App #Footer a {
    width: 100%;
    padding: 20px;
    text-align: center; }
  /* line 123, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/App.scss */
  body #App-wrapper .App .app-main {
    flex: 1; }
    /* line 126, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/App.scss */
    body #App-wrapper .App .app-main .app-content {
      overflow: auto;
      order: 2; }

/*# sourceMappingURL=App.css.map */