@import '../scss/theme/colors.scss';



/* Factorized */

html, body, #App-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.App, .app-main, #Header, #Footer, nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

#Header, .app-main, .app-content, #Footer, nav {
  width: 100%;
}

.flex-row{
  display: flex;
}
.align-center{
  text-align: center;
}
.align-right{
  text-align: right;
}
.flex{
  display: flex;
}

.avatar{
  border-radius: 100%;
}
.avatarDefault, .avatarDisconnected{
  text-transform: uppercase;
  display:        flex;
  align-items:    center;
  justify-content: center;
  font-size:       1.5em;
}
.avatarDefault{
  background:     $color_grey_light;
  color:$color_active;
}
.avatarDisconnected{
  background: $color_blue_medium2;
  color:$color_active;
}


/* APP */

body {
  //background: $color_blue_medium2;

  #App-wrapper{
    
    .App{
      width:  100%;
      height: 100%;
      flex-direction: column;

      
      #Header, #Footer {
        position:   relative;
      }
      
      #Header, nav {
        //background: #202633;
        background: $color_blue_dark_transparent;
      }
      
      #Header {
        padding:     0.8em 1.5em;
        align-items: center;
        
        
        h1{
          width:      100%;
          font-size:  1.5em;
          color :     $color_blue_medium1;
        }
        .avatar{
          font-size:12px;
            width: 3em;
            height: 3em;
            max-width: 3em;
            max-height: 3em;
            min-width: 3em;
            min-height: 3em;
          
        }
      }
      
      #Footer{
        nav{
        }
        a{
          width:      100%;
          padding:    20px;
          text-align: center;
        }
      }

      
      .app-main {
        flex: 1;

        .app-content {
          overflow: auto;
          order: 2;
          //background-color: #FFFFFF;
          //background: $color_blue_medium1;
        }
      }

    }
  }
}
