@import '../scss/theme/colors.scss';



/* Factorized */

html, body, #App-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.App, .app-main, #Header, #Footer, nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

#Header, .app-main, .app-content, #Footer, nav {
  width: 100%;
}

.flex, .flex-row{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex-row-align{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items:         center;
  
}
.align-center{
  text-align: center;
}
.align-right{
  text-align: right;
}
.flex{
  display: flex;
}

.avatar{
  background:       $color_blue_medium2;
  border-radius: 100%;
}
.avatarDefault, .avatarDisconnected{
  text-transform:   uppercase;
  display:          flex;
  align-items:      center;
  justify-content:  center;
  font-size:        1.5em;
}
.avatarDefault{
  background: $color_grey_light;
  color:      $color_active;
}
.avatarDisconnected{
  background: $color_blue_medium2;
  color:      $color_active;
}

input{
  font-size: 10px !important;
}



/* APP */

body {
  //background: $color_blue_medium2;

  #App-wrapper{
    
    .App{
      width:  100%;
      height: 100%;
      flex-direction: column;

      
      #Header, #Footer {
        position:   relative;
      }
      
      #Header, nav {
        //background: #202633;
        background: $color_blue_dark;
      }
      
      #Header {
        padding:     0.8em 1.5em;
        align-items: center;
        
        
        h1{
          width:      100%;
          font-size:  1em;
          color :     $color_blue_medium1;
        }
        
        #networkBadge{
          transition: background-color 0.6s;
          z-index: 1000000;
          position: absolute;
          top:      2.7em;
          right:    0.8em;
          height:   0.8em;
          width:    0.8em;
          min-width:  0.8em;
          border-radius: 100%;
        }
        
        a{
          background: none;
          transition: all 0.25s ease-out;
          transform: scale(1);
          &:active{
            transform: scale(1.1);
          }
          .avatar{
              font-size:  12px;
              width:      3em;
              height:     3em;
              max-width:  3em;
              max-height: 3em;
              min-width:  3em;
              min-height: 3em;

          }
        }
      }
      
      #Footer{
        nav{
        }
        a{ // <Link>
          width:      100%;
          padding:    0.5em 0;
          text-align: center;
          button{ //<IconButton>
            // transform: scale(1) !important; // icons size
            
          }
        }
      }

      
      .app-main {
        flex: 1;

        .app-content {
          overflow: auto;
          order: 2;
          //background-color: #FFFFFF;
          //background: $color_blue_medium1;
        }
      }

    }
  }
}


