@charset "UTF-8";
/*  Colors  */
/* line 9, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
body, .Page {
  overflow: auto;
  background: url("/medias/backgrounds/background-dark.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

/* line 18, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
html body #App-wrapper .App .app-main .app-content .Page {
  padding: 2em 3em; }
  /* line 25, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
  html body #App-wrapper .App .app-main .app-content .Page h1 {
    color: #315481;
    font-size: 26px;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 1em; }
  /* line 32, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
  html body #App-wrapper .App .app-main .app-content .Page h2 {
    font-size: 18px; }
  /* line 35, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
  html body #App-wrapper .App .app-main .app-content .Page p {
    color: #ebebeb; }
  /* line 38, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
  html body #App-wrapper .App .app-main .app-content .Page label {
    color: #b2b2b2; }
  /* line 43, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
  html body #App-wrapper .App .app-main .app-content .Page.PageHome {
    padding: 0; }
  /* line 50, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
  html body #App-wrapper .App .app-main .app-content .Page.PageAccount > p {
    font-size: 8px;
    color: #b2b2b2;
    width: 15em; }
    /* line 54, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
    html body #App-wrapper .App .app-main .app-content .Page.PageAccount > p:first-of-type {
      margin-top: -10px; }
  /* line 71, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
  html body #App-wrapper .App .app-main .app-content .Page.PageTasks h2 {
    color: #f26e63;
    margin-bottom: 0.5em; }
  /* line 76, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
  html body #App-wrapper .App .app-main .app-content .Page.PageTasks input {
    color: #ebebeb; }
  /* line 80, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
  html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-new, html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list {
    margin: 1em auto 2em auto; }
  /* line 85, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
  html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-new form {
    position: relative; }
    /* line 88, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
    html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-new form button {
      color: #315481;
      font-size: 1.5em;
      line-height: 1.5em;
      margin-top: -0.2em;
      padding: 0em 0.7em; }
    /* line 97, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
    html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-new form input {
      width: 100%;
      padding-right: 80px;
      font-size: 1em;
      color: #315481; }
  /* line 111, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
  html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .hide-completed {
    position: relative; }
    /* line 114, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
    html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .hide-completed input {
      margin-right: 0.5em; }
  /* line 119, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
  html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul {
    margin: 0.5em auto;
    padding: 0; }
    /* line 124, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
    html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul .task-li {
      position: relative;
      list-style: none;
      padding: 1.25em 0;
      border-bottom: #b2b2b2 solid 1px;
      color: #ebebeb; }
      /* line 131, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
      html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul .task-li span {
        width: 100%; }
      /* line 135, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
      html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul .task-li .text {
        display: block;
        width: 100%;
        margin-left: 1em;
        cursor: pointer; }
      /* line 143, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
      html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul .task-li button.toggle-private {
        padding: 0.2em 0;
        min-width: 5em;
        cursor: pointer;
        transition: all 0.25s;
        color: #315481; }
      /* line 152, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
      html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul .task-li .delete {
        margin-right: 0.5em;
        margin-left: 1em;
        min-width: 2em;
        font-size: 1em;
        font-weight: bold;
        color: #315481; }
      /* line 162, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
      html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul .task-li input {
        padding: 20px;
        height: 1em;
        min-width: 3em; }
      /* line 169, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
      html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul .task-li.task-checked, html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul .task-li.task-private {
        color: #ebebeb;
        transition: all 0.25s; }
      /* line 175, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
      html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul .task-li.task-checked {
        color: #315481; }
        /* line 177, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul .task-li.task-checked .text {
          text-decoration: line-through; }
      /* line 183, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
      html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul .task-li.task-private button.toggle-private {
        color: #f26e63; }
      /* line 189, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
      html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul .task-li .edit-task {
        width: 100%;
        text-align: center;
        padding: 0em 0.5em 0 1em;
        margin-top: -0.85em; }
        /* line 194, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul .task-li .edit-task input {
          width: 100%;
          margin-top: 0em;
          margin-bottom: 0em;
          font-size: 1em;
          text-align: center; }
        /* line 201, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul .task-li .edit-task button {
          background: #315481;
          color: #466da0;
          padding: 0.3em 0.9em;
          margin-right: 0.3em;
          margin-top: 0.5em; }
          /* line 207, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
          html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-list .task-ul .task-li .edit-task button[type="submit"] {
            background: #f26e63;
            color: #315481; }
  /* line 219, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
  html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-li, html body #App-wrapper .App .app-main .app-content .Page.PageTasks .task-new form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    align-items: center; }
  /* line 233, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
  html body #App-wrapper .App .app-main .app-content .Page.PageShowcase {
    overflow: auto; }
    /* line 237, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
    html body #App-wrapper .App .app-main .app-content .Page.PageShowcase h1 {
      margin-bottom: -2em; }
    /* line 240, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
    html body #App-wrapper .App .app-main .app-content .Page.PageShowcase h2 {
      margin-top: 4em;
      color: #ebebeb; }
    /* line 244, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
    html body #App-wrapper .App .app-main .app-content .Page.PageShowcase label {
      display: block;
      margin-bottom: 1.5em !important; }
    /* line 250, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
    html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section {
      position: relative;
      margin: 0 auto;
      width: 100%;
      max-width: 35em;
      padding-bottom: 4em; }
      /* line 259, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
      html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .wrapper-buttons * {
        font-size: 12px !important; }
      /* line 263, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
      html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .wrapper-buttons a.button-material-ui > div {
        margin-right: 10px; }
      /* line 271, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
      html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .wrapper-loader label {
        margin-bottom: 0.5em; }
      /* line 274, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
      html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .wrapper-loader .loaderLinear {
        margin-top: 1.5em !important; }
      /* line 277, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
      html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .wrapper-loader .flex {
        margin-top: 2em; }
        /* line 279, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .wrapper-loader .flex > div {
          width: 100%;
          padding: 0em;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center; }
          /* line 286, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
          html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .wrapper-loader .flex > div > * {
            display: block; }
        /* line 291, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .wrapper-loader .flex .loaderBounce {
          margin-top: -3px;
          transform: scale(0.6); }
      /* line 301, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
      html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListDraggable {
        position: relative;
        width: 100%;
        height: 400px; }
        /* line 306, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListDraggable .item {
          position: absolute;
          width: 100%;
          height: 90px;
          overflow: visible;
          pointer-events: auto;
          transform-origin: 50% 50% 0px;
          border-radius: 4px;
          line-height: 96px;
          padding-left: 32px;
          font-size: 24px;
          font-weight: 400;
          cursor: pointer;
          color: white;
          background-color: #466da0; }
        /* line 324, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListDraggable .link {
          position: absolute;
          color: #4c4c4c;
          text-decoration: none;
          font: 14px/1em "Helvetica";
          padding: 10px;
          top: 0;
          left: 0; }
      /* line 337, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
      html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated {
        background: #fff;
        position: relative;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
        /*
            Hack to remove background from Mobile Safari.
            Can't use it globally since it destroys checkboxes in Firefox
          */ }
        /* line 343, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated input {
          font-size: 14px !important; }
        /* line 346, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated hr {
          margin: 20px 0;
          border: 0;
          border-top: 1px dashed #c5c5c5;
          border-bottom: 1px dashed #f7f7f7; }
        /* line 353, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .learn a {
          font-weight: normal;
          text-decoration: none;
          color: #b83f45; }
        /* line 359, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .learn a:hover {
          text-decoration: underline;
          color: #787e7e; }
        /* line 366, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .learn h3,
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .learn h4,
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .learn h5 {
          margin: 10px 0;
          font-weight: 500;
          line-height: 1.2;
          color: #000; }
        /* line 373, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .learn h3 {
          font-size: 24px; }
        /* line 377, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .learn h4 {
          font-size: 18px; }
        /* line 381, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .learn h5 {
          margin-bottom: 0;
          font-size: 14px; }
        /* line 386, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .learn ul {
          padding: 0;
          margin: 0 0 30px 25px; }
        /* line 391, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .learn li {
          line-height: 20px; }
        /* line 395, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .learn p {
          font-size: 15px;
          font-weight: 300;
          line-height: 1.3;
          margin-top: 0;
          margin-bottom: 0; }
        /* line 403, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated #issue-count {
          display: none; }
        /* line 407, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .quote {
          border: none;
          margin: 20px 0 60px 0; }
        /* line 412, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .quote p {
          font-style: italic; }
        /* line 416, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .quote p:before {
          content: '“';
          font-size: 50px;
          opacity: .15;
          position: absolute;
          top: -20px;
          left: 3px; }
        /* line 425, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .quote p:after {
          content: '”';
          font-size: 50px;
          opacity: .15;
          position: absolute;
          bottom: -42px;
          right: 3px; }
        /* line 434, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .quote footer {
          position: absolute;
          bottom: -40px;
          right: 0; }
        /* line 440, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .quote footer img {
          border-radius: 3px; }
        /* line 444, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .quote footer a {
          margin-left: 5px;
          vertical-align: middle; }
        /* line 449, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .speech-bubble {
          position: relative;
          padding: 10px;
          background: rgba(0, 0, 0, 0.04);
          border-radius: 5px; }
        /* line 456, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .speech-bubble:after {
          content: '';
          position: absolute;
          top: 100%;
          right: 30px;
          border: 13px solid transparent;
          border-top-color: rgba(0, 0, 0, 0.04); }
        /* line 465, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .learn-bar > .learn {
          position: absolute;
          width: 272px;
          top: 8px;
          left: -300px;
          padding: 10px;
          border-radius: 5px;
          background-color: rgba(255, 255, 255, 0.6);
          transition-property: left;
          transition-duration: 500ms; }
        @media (min-width: 899px) {
          /* line 478, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
          html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .learn-bar {
            width: auto;
            padding-left: 300px; }
          /* line 483, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
          html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .learn-bar > .learn {
            left: 8px; } }
        /* line 490, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated button {
          margin: 0;
          padding: 0;
          border: 0;
          background: none;
          font-size: 100%;
          vertical-align: baseline;
          font-family: inherit;
          font-weight: inherit;
          color: inherit;
          -webkit-appearance: none;
          appearance: none;
          -webkit-font-smoothing: antialiased;
          -moz-font-smoothing: antialiased;
          font-smoothing: antialiased; }
        /* line 508, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated button,
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated input[type="checkbox"] {
          outline: none; }
        /* line 512, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .hidden {
          display: none; }
        /* line 516, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated input::-webkit-input-placeholder {
          font-style: italic;
          font-weight: 300;
          color: #e6e6e6; }
        /* line 522, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated input::-moz-placeholder {
          font-style: italic;
          font-weight: 300;
          color: #e6e6e6; }
        /* line 528, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated input::input-placeholder {
          font-style: italic;
          font-weight: 300;
          color: #e6e6e6; }
        /* line 534, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated h1 {
          position: absolute;
          top: -155px;
          width: 100%;
          font-size: 100px;
          font-weight: 100;
          text-align: center;
          color: rgba(175, 47, 47, 0.15);
          -webkit-text-rendering: optimizeLegibility;
          -moz-text-rendering: optimizeLegibility;
          text-rendering: optimizeLegibility; }
        /* line 549, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .new-todo,
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .edit {
          position: relative;
          margin: 0;
          width: 100%;
          font-size: 24px;
          font-family: inherit;
          font-weight: inherit;
          line-height: 1.4em;
          border: 0;
          outline: none;
          color: inherit;
          padding: 6px;
          border: 1px solid #999;
          box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
          box-sizing: border-box;
          -webkit-font-smoothing: antialiased;
          -moz-font-smoothing: antialiased;
          font-smoothing: antialiased; }
        /* line 569, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .new-todo {
          padding: 16px 16px 16px 60px;
          border: none;
          background: rgba(0, 0, 0, 0.003);
          box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03); }
        /* line 576, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .main {
          position: relative;
          z-index: 2;
          border-top: 1px solid #e6e6e6; }
        /* line 582, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated label[for='toggle-all'] {
          display: none; }
        /* line 586, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .toggle-all {
          position: absolute;
          top: -55px;
          left: -12px;
          width: 60px;
          height: 34px;
          text-align: center;
          border: none;
          /* Mobile Safari */ }
        /* line 596, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .toggle-all:before {
          content: '❯';
          font-size: 22px;
          color: #e6e6e6;
          padding: 10px 27px 10px 27px; }
        /* line 603, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .toggle-all:checked:before {
          color: #737373; }
        /* line 607, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .todo-list {
          margin: 0;
          padding: 0;
          list-style: none; }
        /* line 613, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .todo-list li {
          position: relative;
          font-size: 22px;
          box-shadow: 0 -1px 0 #ededed;
          overflow: hidden; }
        /* line 620, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .todo-list li:last-child {
          border-bottom: none; }
        /* line 624, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .todo-list li.editing {
          border-bottom: none;
          padding: 0; }
        /* line 629, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .todo-list li.editing .edit {
          display: block;
          width: 506px;
          padding: 13px 17px 12px 17px;
          margin: 0 0 0 43px; }
        /* line 636, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .todo-list li.editing .view {
          display: none; }
        /* line 641, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .todo-list li .toggle {
          text-align: center;
          width: 40px;
          /* auto, since non-WebKit browsers doesn't support input styling */
          height: auto;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto 0;
          border: none;
          /* Mobile Safari */
          -webkit-appearance: none;
          appearance: none; }
        /* line 655, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .todo-list li .toggle:after {
          content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>'); }
        /* line 659, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .todo-list li .toggle:checked:after {
          content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>'); }
        /* line 663, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .todo-list li label {
          white-space: pre;
          word-break: break-word;
          padding: 15px 60px 15px 15px;
          margin-left: 45px;
          display: block;
          line-height: 1.2;
          transition: color 0.4s; }
        /* line 673, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .todo-list li.completed label {
          color: #d9d9d9;
          text-decoration: line-through; }
        /* line 678, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .todo-list li .destroy {
          display: none;
          position: absolute;
          top: 0;
          right: 10px;
          bottom: 0;
          width: 40px;
          height: 40px;
          margin: auto 0;
          font-size: 30px;
          color: #cc9a9a;
          margin-bottom: 11px;
          transition: color 0.2s ease-out; }
        /* line 693, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .todo-list li .destroy:hover {
          color: #af5b5e; }
        /* line 697, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .todo-list li .destroy:after {
          content: '×'; }
        /* line 701, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .todo-list li:hover .destroy {
          display: block; }
        /* line 705, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .todo-list li .edit {
          display: none; }
        /* line 709, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .todo-list li.editing:last-child {
          margin-bottom: -1px; }
        /* line 713, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .footer {
          color: #777;
          padding: 10px 15px;
          height: 20px;
          text-align: center;
          border-top: 1px solid #e6e6e6; }
        /* line 721, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .footer:before {
          content: '';
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          height: 50px;
          overflow: hidden;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2); }
        /* line 736, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .todo-count {
          float: left;
          text-align: left; }
        /* line 741, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .todo-count strong {
          font-weight: 300; }
        /* line 745, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .filters {
          margin: 0;
          padding: 0;
          list-style: none;
          position: absolute;
          right: 0;
          left: 0; }
        /* line 754, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .filters li {
          display: inline; }
        /* line 758, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .filters li a {
          color: inherit;
          margin: 3px;
          padding: 3px 7px;
          text-decoration: none;
          border: 1px solid transparent;
          border-radius: 3px; }
        /* line 768, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .filters li a.selected,
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .filters li a:hover {
          border-color: rgba(175, 47, 47, 0.1); }
        /* line 772, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .filters li a.selected {
          border-color: rgba(175, 47, 47, 0.2); }
        /* line 777, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .clear-completed,
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated html .clear-completed:active {
          float: right;
          position: relative;
          line-height: 20px;
          text-decoration: none;
          cursor: pointer;
          position: relative; }
        /* line 786, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .clear-completed:hover {
          text-decoration: underline; }
        /* line 790, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .info {
          margin: 65px auto 0;
          color: #bfbfbf;
          font-size: 10px;
          text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
          text-align: center; }
        /* line 798, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .info p {
          line-height: 1; }
        /* line 802, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .info a {
          color: inherit;
          text-decoration: none;
          font-weight: 400; }
        /* line 808, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
        html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .info a:hover {
          text-decoration: underline; }
        @media screen and (-webkit-min-device-pixel-ratio: 0) {
          /* line 818, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
          html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .toggle-all,
          html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .todo-list li .toggle {
            background: none; }
          /* line 822, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
          html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .todo-list li .toggle {
            height: 40px; }
          /* line 826, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
          html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .toggle-all {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            -webkit-appearance: none;
            appearance: none; } }
        @media (max-width: 430px) {
          /* line 835, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
          html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .footer {
            height: 50px; }
          /* line 839, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
          html body #App-wrapper .App .app-main .app-content .Page.PageShowcase section .ListAnimated .filters {
            bottom: 10px; } }

/* line 854, /Users/maxblue/Documents/Dev/GitHub/template-meteor-react/client/scss/Pages.scss */
#CardLine {
  width: 80%;
  margin: 2em auto; }

/*# sourceMappingURL=Pages.css.map */